body {
    background: blue;
}

table {

    color: darkgray;
    border-collapse: collapse;
    border-style: hidden;
    width: 250px;
    height: 175px;
    margin: auto;
}

table td, th {
    border: 1px solid darkgray;
    text-align: center;
}

thead, th {
    background: black;
    color: gray;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: white;
    color: darkgray;
}

tbody tr:nth-child(even) {
    background-color: gray;
    color: darkgray;
}

table th:first-child {
    border-radius: 1px 0 0 0;
}

table th:last-child {
    border-radius: 0 1px 0 0;
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 1px;
}

table tr:last-child td:last-child {
    border-radius: 0 0 1px 0;
}